.main {
    display: grid;
    width: 100%;
    height: 92vh;
    grid-template-columns: 65% 35%;
    /* background-image: linear-gradient(to top right, #bccbde 50%, #c2dde6 50%); */
}

.main img {
    height: 100%;
}

.main-right img {
    border-radius: 10px;
    margin-top: 10vh;
    /* margin-left: 2vw; */
    width: 90%;
    height: 50%;
    background-color: transparent;
}

.welcome-main {
    text-align: center;
    display: flex;
}

.main-left, .main-right {
    display: flex;
}

.main-right {
    background-color: #f3f3f3;
}

/* .main-left {
    background-image: linear-gradient(to top right, #bccbde 50%, #c2dde6 50%);
} */

.welcome-message {
    color: #0c6d70;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 55%;
    font-weight: 500;
    margin-top: 8vw;
    /* margin-left: 1vw; */
    padding: 20px;
    border-radius: 10px;
}

.welcome-message h1 {
    margin-top: 7vw;
    font-size: 34px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    animation: typewriter 4s steps(24) 1s normal both,
    blinkTextCursor 500ms steps(24) infinite normal;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typewriter {
    0% {
        width:0ch;
    }
    100% {
        width: 24ch;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #09868b;
    }
    to {
        border-right-color: transparent;
    }
}

.welcome-message p {
   margin-top: 2vw;
   font-size: 26px;
   font-family: 'Noto Sans', sans-serif; 
}
.all-tickers {
    margin-top: 4vw;
    margin-right: 4vw;
}

.tickers-btn {
    border: transparent;
    background: transparent;
    justify-content: space-between;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Montserrat' !important;
    font-size: 25px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 55px;
    width: 166px;
    color: #3d3d3f;
    --accent-color :#c53211;
    margin-left: 72px;
}

.tickers-btn:hover {
    transition: 0.6s;
    color: #3d3d3f;
    color: #ebf6f5;
}

.tickers-btn:focus {
    outline: 0;
}

.tickers-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:#c53211;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out ;
    /* background-image: linear-gradient(to top left, #bccbde 50%, #c2dde6 50%); */
    background-color: transparent;
    border: 2px solid #9191a5;
    border-radius: 10px;
}

.tickers-btn:hover::before,
.tickers-btn:focus::before {
    transform: scaleX(1);
}

.tickers-btn {
    transition: transform 300ms ease-in-out;
    z-index: 1;
}

.tickers-btn:hover::before,
.tickers-btn:focus::before {
    color: white;
}




