.root-wrapper {
    width: 100% !important;
    height: 100vh !important;
    min-height: fit-content !important;
    overflow: hidden !important;
}

.main {
    display: grid !important;
    width: 100%;
    height: 92vh !important;
    grid-template-columns: 65% 35% !important;
}

.main img {
    height: 100% !important;
}

.main-right img {
    border-radius: 10px !important;
    margin-top: 32vh !important;
    height: 65% !important;
    background-color: transparent !important;
}

.welcome-main {
    text-align: center !important;
    display: flex !important;
    width: 75% !important;
    margin-top: 3vw;
    font-size: 31px;
}

.main-left, .main-right {
    display: flex !important;
}

.main-right {
    margin-right: 5vw !important;
}

.main-left {
    margin-top: 12vh;
}


.welcome-message {
    color: #817cca !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 80% !important;
    min-height: fit-content !important;
    height: 100% !important;
    font-weight: 600 !important;
    margin-top: 12vw !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

.welcome-message h1 {
    margin-top: 2vw !important;
    font-size: 37px !important;
    font-weight: 600 !important;
    font-family: 'Noto Sans', sans-serif !important;
    animation: typewriter 4s steps(24) 1s normal both,
    blinkTextCursor 500ms steps(24) infinite normal !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    height: 45px !important;
}

@keyframes typewriter {
    0% {
        width:0ch;
    }
    100% {
        width: 24ch;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #09868b !important;
    }
    to {
        border-right-color: transparent !important;
    }
}

.all-tickers {
    margin-top: 4vw !important;
    margin-right: 5vw !important;
}

.tickers-btn {
    border: transparent !important;
    background: transparent !important;
    justify-content: space-between !important;
    cursor: pointer !important;
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    font-family: 'Montserrat' !important;
    font-size: 25px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    padding-top: 5px !important;
    padding-bottom: 7px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 68px !important;
    width: 176px !important;
    color: #ff4b5d !important;
    --accent-color :#c53211 !important;
    margin-left: 72px !important;
}

.tickers-btn:hover {
    transition: 0.6s !important;
    color: #ffffff !important;
}

.tickers-btn:focus {
    outline: 0!important ;
}

.tickers-btn::before{
    content: ""!important;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    z-index: -1!important;
    transform: scaleX(0)!important;
    transition: transform 300ms ease-in-out !important;
    background-color: #ff4b5d !important;
    border: 2px solid #fd3b7c !important;
    border-radius: 10px !important;
}

.tickers-btn:hover::before,
.tickers-btn:focus::before {
    transform: scaleX(1) !important;
}

.tickers-btn {
    transition: transform 300ms ease-in-out !important;
}






