.navbar {
    display: grid !important;;
    grid-template-columns: 50% 50% !important;;
    position: relative !important;;
    align-items: center !important;;
    z-index: 99 !important;;
    background-color: #FFFFFF !important;;
    box-shadow: 0 0 2px 1px rgba(39, 31, 31, 0.2) !important;;
    font-size: 21px !important;;
    width: 100% !important;;
    height: 8vh !important;;
}

.login, .logout, .signup, .profile {
    font-size: 21px !important;
    background-color: transparent !important;
	border-radius: 5px !important;
    border: none !important;
    width: 100px !important;
    height: 38px !important;
    color:  #5e57df !important;
    outline: none !important;
    margin: 0 auto !important;
    text-align: center !important;
    cursor: pointer !important;
}

.profile {
    width: fit-content;
}

.login:hover, .signup:hover,.logout:hover, .profile:hover {
    cursor: pointer !important;
    font-weight: bolder !important;
    color: #5e57df !important;
    border: 2px solid #5e57df !important;
}

.left-right-nav {
    margin-left: 17vw !important; 
}

.right-right-nav {
    margin-left: 1vw !important; 
}

.right-nav {
    display: flex !important; 
    flex-direction: row !important; 
    justify-content: space-evenly 
};

.left-nav, .right-nav {
    margin-top: 25% !important; 
}

.login, .logout, .signup, .profile {
    margin: 15px !important; 
    margin-right: -250px !important; 
}

.logo { 
    margin: 15px !important;
    cursor: pointer !important;
    color: #5e57df !important;
    font-size: 21px !important;
}


