.ickers-main-page-wrapper {
    margin-top: 5vw;
}


.ticker-index-main {
    background-color: #FFFFFF;
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 7px;
}

.ticker-index {
    font-size: 17px;
    display: grid;
    grid-template-columns: 25% 10% 65%;
    width: 100%;
}

.ticker-index-labels {
    display: grid;
    grid-template-columns: 35% 65%;
    font-size: 18px;
    padding-bottom: 1vw;
}

.ticker-index-labels-left {
    display: flex;
    flex-direction: row;
}

.ticker-index-labels-right {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: right;
    margin-right: 1vw;
}

.ticker-num {
    margin-left: 6.7vw;
}

.ticker-coin-index {
    margin-left: 5vw;
}

.ticker-index-label-chart, .ticker-index-price {
    margin-right: 2vw; 
}

.ticker-index-labels-right h1 {
    cursor: pointer;
}

.ticker-index {
    border-top: 0.5px solid rgb(224, 224, 224);
    display: grid;
    grid-template-rows: 35% 65%;
    height: 60px;
}

.tickers-list ol:last-child {
    border-bottom: 0.5px solid rgb(224, 224, 224);
}


.ticker-index-left {
    display: flex;
    flex-direction: row; 
}

.ticker-index-right {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    padding-right: 1vw;
    height: 25vw;
}

.ticker-market-cap,.ticker-volume {
    text-transform: uppercase;
    height: 100%;
}

.ticker-market-cap {
    margin-right: 30px;
}

.ticker-symbol {
    display: flex;
    text-transform: uppercase;
    margin-left: 1vw;
    color: rgb(73, 70, 70);
    margin-top: 1.3rem;
    text-align: right;
    width: 100%;
}

.ticker-name {
    display: flex;
    text-align: center;
    min-height: fit-content;
    margin-left: 1rem;
    margin-top: 1.3rem;
    font-size: 20px;
    cursor: pointer;
}

.ticker-image img {
    margin-top: 1rem;
    margin-left: 2vh;
    width: 30px;
    height: 30px;
}

.ticker-index-header {
    margin-left: 28%;
    display: flex;
    align-items: center;
    padding: 1.5vw;
}

.ticker-index-header h1 {
    font-size: 35px;
    margin-right: 3rem;
}

.ticker-price,.ticker-volume, .ticker-market-cap,.ticker-24h-price-change {
    width: 90%;
    text-align: right;
    margin-right: 1vw;
    margin-top: 1.3rem;
    font-size: 17px;
}


.ticker-index-btn-wrapper i{
    font-size: 1.5rem;
    color: #9365e7;
    cursor: pointer;
    margin-left: 4vw;
    margin-top: 1rem;
}

.ticker-index-market-cap-rank {
    margin-top: 1.3rem;
    margin-left: 1vw;
    font-size: 20px;
}

/* hover pop up info add/remove ticker */

.hidden-info {
    display: none;
}

.hidden-info-show {
    position: absolute;
    display: flex;
    width: 3.6vw;
    padding: 1px;
    min-height: fit-content;
    background-color: #c5c2f0;
    font-size: 12px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 3px;
}

.ticker-index-item-chart canvas{
    height: 60px !important;
}

.page-link {
    cursor: pointer;
}

.page-num {
    margin-left: 0.8vw;
    font-size: 18px;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .ticker-index-main {
        background-color: #FFFFFF;
        height: 100%;
        min-height: fit-content;
        border: 1px solid rgb(224, 224, 224);
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 22vw;
        margin-bottom: 2vw;
        border-radius: 7px;
    }


    .ticker-index-labels {
        display: grid;
        grid-template-columns: 35% 65%;
        font-size: 8px;
        padding-bottom: 1vw;
        margin-top: 1vw;
    }

    .ticker-index {
        display: grid;
        grid-template-columns: 25% 10% 65%;
        width: 100%;
        height: 12vw;
    }

    .ticker-index-labels-left {
        display: flex;
        flex-direction: row;
    }

    .ticker-index-labels-right {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: right;
        margin-right: 1vw;
    }

    .ticker-num {
        margin-left: 6.7vw;
    }

    .ticker-coin-index {
        margin-left: 5vw;
    }

    .ticker-index-label-chart, .ticker-index-price {
        margin-right: 0vw; 
    }

    .tickers-list ol:last-child {
        border-bottom: 0.5px solid rgb(224, 224, 224);
    }


    .ticker-index-left {
        display: flex;
        flex-direction: row; 
        font-size: 9px !important;
    }

    .ticker-index-right {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 100%;
        padding-right: 1vw;
        height: 100%;
    }

    .ticker-market-cap,.ticker-volume {
        text-transform: uppercase;
        height: 100%;
    }

    .ticker-market-cap {
        margin-right: 30px;
    }

    .ticker-symbol {
        display: flex;
        text-transform: uppercase;
        margin-left: 5vw;
        color: rgb(73, 70, 70);
        margin-top: 1.3rem;
        font-size: 8px !important;
        text-align: right;
        width: 100%;
    }

    .ticker-name {
        display: flex;
        text-align: center;
        min-height: fit-content;
        margin-left: 2vw;
        margin-top: 1.3rem;
        font-size: 8px;
        cursor: pointer;
    }

    .ticker-image img {
        margin-top: 4.5vw;
        margin-left: 2vw;
        width: 15px;
        height: 15px;
    }

    .ticker-index-header {
        margin-left: 9%;
        display: flex;
        text-align: center;
        padding: 1.5vw;
        width: 100%;
    }

    .ticker-index-header h1 {
        margin-top: 1.3vw;
        font-size: 15px;
        position: relative;
    }

    .ticker-price,.ticker-volume, .ticker-market-cap,.ticker-24h-price-change {
        width: 90%;
        text-align: right;
        margin-right: 1vw;
        margin-top: 1.3rem;
        font-size: 8px;
    }


    .ticker-index-btn-wrapper i{
        font-size: 9px;
        color: #9365e7;
        margin-left: 2vw;
        margin-top: 5.2vw;
    }

    .ticker-index-market-cap-rank {
        margin-top: 1.3rem;
        margin-left: 1vw;
        font-size: 8px;
    }

    .ticker-index-chart-wrapper {
        margin-top: 1vw;
    }

    .ticker-index-item-chart canvas{
        height: 10vw !important;
    }

    .page-num {
        margin-left: 2.5vw;
        font-size: 18px;
    } 

    .pagintaion {
        margin-bottom: 2vw;
    }
}