.ticker-index-main {
    background-color: #FFFFFF;
    height: 100%;
}

.ticker-index, .ticker-index-labels {
    font-size: 17px;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.ticker-index-labels-right h1 {
    cursor: pointer;
}

.ticker-index {
    border-top: 1px solid #000701;
    display: grid;
    grid-template-rows: 35% 65%;
    height: 60px;
}


.ticker-index-left , .ticker-index-labels-right {
    display: flex;
    flex-direction: row; 
}


.ticker-index-right {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    width: 100%;
    padding-right: 1vw;
}

.ticker-market-cap,.ticker-volume {
    text-transform: uppercase;
}

.ticker-market-cap {
    margin-right: 30px;
}

.ticker-index-labels-right {
    margin: 1vh;
}

.ticker-index-labels-left {
    margin: 1vh 1vh 1vh 5vh;
}

.ticker-index-right,  .ticker-index-labels-right {
    justify-content: space-between;
}

.ticker-symbol {
    text-transform: uppercase;
    margin-left: 1vw;
    color: rgb(73, 70, 70);
}

.ticker-name {
    margin-left: 10px;
}

.ticker-image img {
    margin-left: 2vh;
    width: 20px;
    height: 20px;
}

.ticker-index-header {
    margin-left: 33%;
    display: flex;
    align-items: center;
    padding: 1vw;
}

.ticker-index-header h1 {
    font-size: 35px;
}

.ticker-price,.ticker-volume, .ticker-market-cap {
    width: 90%;
    text-align: right;
}


.ticker-index-btn-wrapper i{
    font-size: 1.5rem;
    color: #9365e7;
    cursor: pointer;
}