.ticker-index-main {
    background-color: #FFFFFF;
    height: 100%;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-radius: 7px;
}

.ticker-index, .ticker-index-labels {
    font-size: 17px;
    display: grid;
    grid-template-columns: 25% 10% 65%;
    width: 100%;
}

.ticker-index-labels-right h1 {
    cursor: pointer;
}

.ticker-index {
    border-top: 1px solid darkgray;
    display: grid;
    grid-template-rows: 35% 65%;
    height: 60px;
}


.ticker-index-left , .ticker-index-labels-right {
    display: flex;
    flex-direction: row; 
}

.ticker-index-right {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    padding-right: 1vw;
    height: 60px;
}

.ticker-market-cap,.ticker-volume {
    text-transform: uppercase;
    height: 100%;
}

.ticker-market-cap {
    margin-right: 30px;
}

.ticker-index-labels-right {
    margin: 1vh;
}

.ticker-index-labels-left {
    margin: 1vh 1vh 1vh 5vh;
}

.ticker-symbol {
    display: flex;
    text-transform: uppercase;
    margin-left: 1vw;
    color: rgb(73, 70, 70);
    margin-top: 1.3rem;
    text-align: right;
    width: 100%;
}

.ticker-name {
    margin-left: 1rem;
    margin-top: 1.3rem;
    font-size: 20px;
    cursor: pointer;
}

.ticker-image img {
    margin-top: 1rem;
    margin-left: 2vh;
    width: 30px;
    height: 30px;
}

.ticker-index-header {
    margin-left: 28%;
    display: flex;
    align-items: center;
    padding: 1.5vw;
}

.ticker-index-header h1 {
    font-size: 35px;
    margin-right: 3rem;
}

.ticker-price,.ticker-volume, .ticker-market-cap,.ticker-24h-price-change {
    width: 90%;
    text-align: right;
    margin-right: 1vw;
    margin-top: 1.3rem;
    font-size: 17px;
}


.ticker-index-btn-wrapper i{
    font-size: 1.5rem;
    color: #9365e7;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 1rem;
}

.ticker-index-market-cap-rank {
    margin-top: 1.3rem;
    margin-left: 1vw;
    font-size: 20px;
}