.ticker-widget-wrapper {
    margin-top: 5vw;
    margin-left: 30vw;
    width: 30%;
    height: 17vh;
    border: 1px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 4vw; 
    background: #ffffff;
    opacity: 0.8;
}

.ticker-widget {
    margin-left: 5vw;
    margin-top: 2vw;
}

/* top widget */

.ticker-widget-top { 
    display: grid;
    grid-template-columns: 33% 67%;
    border-bottom: 1px solid grey;
}

.ticker-widget-top-right-top {
    padding-bottom: 3px;
}

.ticker-widget-top-left, .ticker-widget-top-right, .ticker-widget-top-right-bottom {
    display: flex;
    align-items: center;
}

.ticker-widget-top-left {
    margin-left: 40%;
}

.ticker-widget-top-right {
    padding-top: 6%;
    flex-direction: column;
}

.ticker-widget-top-right-bottom {
    flex-direction: row;
}

.ticker-widget-top-right-bottom p {
    margin-left: 4px;
}

/* bottom widget */

.ticker-widget-bottom {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.ticker-widget-bottom-left,.ticker-widget-bottom-center {
    border-right: 1px solid grey;
}

.ticker-widget-bottom-left, .ticker-widget-bottom-center, .ticker-widget-bottom-right {
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ticker-widget-bottom-right-top, .ticker-widget-bottom-center-top, .ticker-widget-bottom-left-top {
    padding-bottom: 2px;
    font-weight: bold;
}

.ticker-widget-bottom-right-bottom, .ticker-widget-bottom-center-bottom {
    text-transform: uppercase;
}

/* ticker info */

.ticker-info {
    display: grid;
    grid-template-columns: 60% 40%;
}

.ticker-about {
    margin-left: 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    opacity: 0.8;
}

.ticker-about h1 {
    padding-top: 2vw;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.ticker-about p {
    width: 80%;
    word-spacing: 2px;
    line-break: auto;
    text-indent: 10px;
    overflow-wrap: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10%;
    padding-bottom: 50px;
}

/* ticker statistics */

.ticker-statistics {
    width: 100%;
    margin-left: 7vw;
}

.ticker-statistics-wrapper {
    background: #ffffff;
    opacity: 0.8;
    width: 68%;
    min-height: fit-content;
    box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
    border-radius: 10px;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.ticker-statistics-wrapper h1 {
    font-size: 25px;
    margin-left: 36%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.ticker-statistics-table {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticker-statistics-table-left, .ticker-statistics-table-right {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.ticker-statistics-table-left {
    padding: 14px;
    margin-top: -12px;
    margin-left: 1.5vw;
    text-align: left;
    line-height: 27px;
}

.ticker-statistics-table-right {
    text-align: right;
    line-height: 27px;
    margin-right: 1.5vw;
    padding-right: 10px;
}

.ticker-about p a ,.ticker-links-right div a {
    cursor: pointer;
    color: #5e57df;
    text-decoration: none;
}
.ticker-links-right div a {
    font-weight: bolder;
}

.ticker-statistics-table-right div a:visited{
  color:#5e57df;
}

.ticker-statistics-table-left div i {
    font-size: 25px;
}

#reddit {
    color: rgb(255, 89, 0);
}

.reddit-link, .git-link {
    margin-top: 2px;
}


/* ticker links */

.ticker-links-wrapper {
    background: #ffffff;
    opacity: 0.8;
    width: 68%;
    min-height: fit-content;
    box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
    border-radius: 10px;
    margin-top: 1.2vw;
}

.ticker-links-wrapper h1 {
    font-size: 25px;
    margin-left: 32%;
    padding-bottom: 34px;
    padding-top: 20px;
}

.ticker-links {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticker-links-right {
    text-align: center;
    line-height: 38px;
    margin-right: 5vw;
}

.ticker-links-left { 
    margin-left: 5vw;
    margin-bottom: 1vw;
}

.ticker-links-left div i {
    font-size: 40px;
}

.ticker-links-left div img {
    width: 40px;
}

/* ticker chart */

.ticker-chart-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #ffffff;
    opacity: 0.95;
}

.ticker-chart {
    margin-top: 5vw;
}


/* remove button*/

.wrapper{
    width: fit-content;
    height:auto;
    cursor: pointer;
}

.wrapper button{
    margin-left: 24vw;
    margin-bottom: 2vw;
    width:200px;
    height:53px;
    background: linear-gradient(to left top, #5e57df 50%, #9793eb 50%);
    border-style: none;
    color:#fff;
    font-size: 21px;
    letter-spacing: 3px;
    font-family: 'Lato' !important;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 3px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    border-radius: 5px;
}
.wrapper button span{
    position: absolute;
    display: block;
}
.wrapper button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        right:-200px
    }
    100%{
        right:200px;
    }
}
.wrapper button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        bottom:-70px;
    }
    100%{
        bottom:70px;
    }
}
.wrapper button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        left:-200px;
    }
    100%{
        left: 200px;
    }
}

.wrapper button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        top: -70px;
    }
    100%{
        top:70px;
    }
}

.wrapper button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.wrapper button:hover span{
    animation-play-state: paused;
}


/* add button */

.add-wrapper{
    width: fit-content;
    height:auto;
}

.add-wrapper button{
    margin-left: 25vw;
    margin-bottom: 2vw;
    width:200px;
    height:53px;
    background: linear-gradient(to left top, #9793eb 50%, #5e57df 50%);
    border-style: none;
    color:#fff;
    font-size: 21px;
    letter-spacing: 3px;
    font-family: 'Noto Sans' !important;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 3px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    border-radius: 5px;
}
.add-wrapper button span{
    position: absolute;
    display: block;
}
.add-wrapper button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.add-wrapper button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.add-wrapper button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.add-wrapper button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.add-wrapper button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.add-wrapper button:hover span{
    animation-play-state: paused;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

    .ticker-widget-wrapper {
        margin-top: 25vw;
        margin-left: 2vw;
        width: 85vw;
        height: 17vh;
        border: 1px solid grey;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 50% 50%;
        font-family: 'Noto Sans', sans-serif;
        margin-bottom: 4vw; 
        background: #ffffff;
        opacity: 0.8;
    }

    .ticker-widget {
        margin-left: 5vw;
        margin-top: 2vw;
    }

    /* top widget */

    .ticker-widget-top { 
        display: grid;
        grid-template-columns: 33% 67%;
        border-bottom: 1px solid grey;
    }

    .ticker-widget-top-right-top {
        padding-bottom: 3px;
    }

    .ticker-widget-top-left, .ticker-widget-top-right, .ticker-widget-top-right-bottom {
        display: flex;
        align-items: center;
    }

    .ticker-widget-top-left {
        margin-left: 40%;
    }

    .ticker-widget-top-right {
        padding-top: 6%;
        flex-direction: column;
    }

    .ticker-widget-top-right-bottom {
        flex-direction: row;
    }

    .ticker-widget-top-right-bottom p {
        margin-left: 4px;
    }

    /* bottom widget */

    .ticker-widget-bottom {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .ticker-widget-bottom-left,.ticker-widget-bottom-center {
        border-right: 1px solid grey;
    }

    .ticker-widget-bottom-left, .ticker-widget-bottom-center, .ticker-widget-bottom-right {
        padding-top: 12%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ticker-widget-bottom-right-top, .ticker-widget-bottom-center-top, .ticker-widget-bottom-left-top {
        padding-bottom: 2px;
        font-weight: bold;
    }

    .ticker-widget-bottom-right-bottom, .ticker-widget-bottom-center-bottom {
        text-transform: uppercase;
    }

    /* ticker info */

    .ticker-info {
        display: flex;
        flex-direction: column;
    }

    .ticker-about {
        border-radius: 10px;
        margin-top: 1vw;
        margin-left: 5vw;
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #ffffff;
        opacity: 0.8;
    }

    .ticker-about h1 {
        padding-top: 2vw;
        padding-bottom: 20px;
        font-size: 20px;
        font-weight: bolder;
    }

    .ticker-about p {
        width: 100%;
        word-spacing: 2px;
        line-break: auto;
        text-indent: 10px;
        overflow-wrap: normal;
        font-size: 14px;
        line-height: 22px;
        margin-left: 0%;
        padding-bottom: 5vw;
    }

    /* ticker statistics */

    .ticker-statistics {
        width: 100%;
        margin-left: 5vw;
        display: grid;
        grid-template-rows: 50% 50%;
    }

    .ticker-statistics-wrapper {
        background: #ffffff;
        opacity: 0.8;
        width: 90%;
        height: 74vw;
        min-height: fit-content;
        box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
        border-radius: 10px;
        margin-bottom: 2vw;
    }

    .ticker-statistics-wrapper h1 {
        font-size: 25px;
        margin-left: 36%;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .ticker-statistics-table {
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ticker-statistics-table-left, .ticker-statistics-table-right {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .ticker-statistics-table-left {
        padding: 14px;
        margin-top: -12px;
        margin-left: 1.5vw;
        text-align: left;
        line-height: 27px;
    }

    .ticker-statistics-table-right {
        text-align: right;
        line-height: 27px;
        margin-right: 1.5vw;
        padding-right: 10px;
    }

    .ticker-about p a ,.ticker-links-right div a {
        cursor: pointer;
        color: #5e57df;
        text-decoration: none;
    }
    .ticker-links-right div a {
        font-weight: bolder;
    }

    .ticker-statistics-table-right div a:visited{
        color:#5e57df;
    }

    .ticker-statistics-table-left div i {
        font-size: 25px;
    }

    #reddit {
        color: rgb(255, 89, 0);
    }

    .reddit-link, .git-link {
        margin-top: 2px;
    }


    /* ticker links */

    .ticker-links-wrapper {
        margin-top: 10vw;
        background: #ffffff;
        opacity: 0.8;
        width: 90%;
        min-height: fit-content;
        box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
        border-radius: 10px;
    }

    .ticker-links-wrapper h1 {
        font-size: 25px;
        margin-left: 32%;
        padding-bottom: 34px;
        padding-top: 20px;
    }

    .ticker-links {
        font-size: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ticker-links-right {
        text-align: center;
        line-height: 38px;
        margin-right: 5vw;
    }

    .ticker-links-left { 
        margin-left: 5vw;
        margin-bottom: 1vw;
    }

    .ticker-links-left div i {
        font-size: 40px;
    }

    .ticker-links-left div img {
        width: 40px;
    }

    /* ticker chart */

    .ticker-chart-wrapper {
        height: 100%;
        width: 90%;
        padding-left: 3vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: #ffffff;
        opacity: 0.95;
    }

    .ticker-chart {
        margin-top: 5vw;
    }


    /* remove button*/

    .wrapper{
        width: fit-content;
        height:auto;
        cursor: pointer;
    }

    .wrapper button{
        margin-left: 29vw;
        margin-bottom: 2vw;
         width: 34vw;
        height: 15vw;
        background: linear-gradient(to left top, #5e57df 50%, #9793eb 50%);
        border-style: none;
        color:#fff;
        font-size: 14px;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: 600;
        outline: none;
        cursor: pointer;
        position: relative;
        padding: 3px;
        overflow: hidden;
        transition: all .5s;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        border-radius: 5px;
    }

    .wrapper button span{
        position: absolute;
        display: block;
    }

    .wrapper button span:nth-child(1){
        height: 3px;
        width:200px;
        top:0px;
        left:-200px;
        background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        animation: span1 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes span1{
        0%{
            right:-200px
        }
        100%{
            right:200px;
        }
    }

    .wrapper button span:nth-child(2){
        height: 70px;
        width: 3px;
        top:-70px;
        right:0px;
        background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        animation: span2 2s linear infinite;
        animation-delay: 2s;
    }
    @keyframes span2{
        0%{
            bottom:-70px;
        }
        100%{
            bottom:70px;
        }
    }
    .wrapper button span:nth-child(3){
        height:3px;
        width:200px;
        right:-200px;
        bottom: 0px;
        background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        animation: span3 2s linear infinite;
        animation-delay: 3s;
    }
    @keyframes span3{
        0%{
            left:-200px;
        }
        100%{
            left: 200px;
        }
    }

    .wrapper button span:nth-child(4){
        height:70px;
        width:3px;
        bottom:-70px;
        left:0px;
        background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        animation: span4 2s linear infinite;
        animation-delay: 4s;
    }
    @keyframes span4{
        0%{
            top: -70px;
        }
        100%{
            top:70px;
        }
    }

    .wrapper button:hover{
        transition: none;
        transform: none;
        box-shadow: none;
    }

    .wrapper button:hover span{
        animation-play-state: running;
    }


    /* add button */

    .add-wrapper{
        width: fit-content;
        height:auto;
    }

    .add-wrapper button{
        margin-left: 29vw;
        margin-bottom: 5vw;
        width: 34vw;
        height: 15vw;
        background: linear-gradient(to left top, #9793eb 50%, #5e57df 50%);
        border-style: none;
        color:#fff;
        font-size: 15px;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: 600;
        outline: none;
        cursor: pointer;
        position: relative;
        padding: 3px;
        overflow: hidden;
        transition: all .5s;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        border-radius: 5px;
    }
    .add-wrapper button span{
        position: absolute;
        display: block;
    }
    .add-wrapper button span:nth-child(1){
        height: 3px;
        width:200px;
        top:0px;
        left:-200px;
        background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        animation: span1 2s linear infinite;
        animation-delay: 1s;
    }

    @keyframes span1{
        0%{
            left:-200px
        }
        100%{
            left:200px;
        }
    }
    .add-wrapper button span:nth-child(2){
        height: 70px;
        width: 3px;
        top:-70px;
        right:0px;
        background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        animation: span2 2s linear infinite;
        animation-delay: 2s;
    }
    @keyframes span2{
        0%{
            top:-70px;
        }
        100%{
            top:70px;
        }
    }
    .add-wrapper button span:nth-child(3){
        height:3px;
        width:200px;
        right:-200px;
        bottom: 0px;
        background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px;
        animation: span3 2s linear infinite;
        animation-delay: 3s;
    }
    @keyframes span3{
        0%{
            right:-200px;
        }
        100%{
            right: 200px;
        }
    }

    .add-wrapper button span:nth-child(4){
        height:70px;
        width:3px;
        bottom:-70px;
        left:0px;
        background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        animation: span4 2s linear infinite;
        animation-delay: 4s;
    }
    @keyframes span4{
        0%{
            bottom: -70px;
        }
        100%{
            bottom:70px;
        }
    }

    .add-wrapper button:hover{
        transition: none;
        transform: none;
        box-shadow: none;
    }

    .add-wrapper button:hover span{
        animation-play-state: running;
    }
}

/* dropdown button */

.dropdown {
  left: 30%;
  display: flex;
  position: absolute;
  max-width: 15%;
}

.dd-button {
  font-size: 20px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #7872e7;
  cursor: pointer;
  color: white;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.dd-button:hover {
  background-color: #5e57df;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-size: 20px;
  width: 100%;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 17px;
  width: 75%;
}

.dd-menu li:hover {
  background-color: #908ce9;
  color: white;
}


/* ticker news */

.ticker-footer {
    display: grid;
    grid-template-columns: 60% 40%;
}

.ticker-news-container {
    font-family: 'Noto Sans', sans-serif !important;
    margin-left: 7vw;
    background: #ffffff;
    width: 68%;
    box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
    background-color: rgb(255, 255, 255) !important;
    overflow-y: auto !important;
    overflow-x: none !important;
    min-height: fit-content !important;
    max-height: 28vw !important;
    position: relative !important;
    padding: 2px;
}

.ticker-news-item-container {
    display: grid !important;
    grid-template-rows: 45% 55% !important;
    width: 70% !important;
    padding: 1vw;
    height: 30% !important;
}

.ticker-item-top {
    height: 100%;
    max-width: 25vw;
    width: 90%; 
}


.ticker-item-bottom {
    height: 100%;
    width: 90%;
    max-width: 25vw;
    display: grid;
    grid-template-rows: 20% 55% 25%;
}

.ticker-news-header h1 {
    color: rgb(73, 70, 70) !important;
    font-size: 25px;
    margin-left: 32%;
    padding-bottom: 34px;
    padding-top: 20px;
}

