.login-form-container{
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    position: absolute;
    top: 0;
    /* background-image: linear-gradient(to top right, #bccbde 50%, #c2dde6 50%); */
}

.link-to-other-form {
    font-size: 20px;
    color: #ffffff;
    font-size: bolder;
}

.link-to-other-form a {
    color: rgb(238, 52, 52);
}

#tsparticles {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.48;
    position: fixed !important;
    display: block;
    z-index: -1;
}

.login-form1 {
    overflow: hidden;
    font-family: 'Varela Round', sans-serif;
    width: 31vw;
    height: 100vh;
    padding: 40px;
    left: 33%;
    margin-top: 50px;
    margin-right: auto;
    transform: translate(-50% -50%);
    background: #5a55aa;
    text-align: center;
    box-sizing: border-box;
    opacity: 0.8;
    box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
    z-index: 1;
}

.login-no-errors-input1 {
    font-family: 'Varela Round', sans-serif;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: #ffffff;
    border-radius: 24px;
    transition: 0.25s;
     font-weight: bold;
    font-size: 17px;
}

.login-no-errors-input1::-webkit-input-placeholder, .login-yes-errors-input1::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
}


.login-yes-errors-input1 {
    border: 2px solid red;
    font-family: 'Varela Round', sans-serif;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.login-no-errors-input1:focus {
    width: 330px;
    border-color: #445547;
}

.login-form-container h1 {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 30px;
    margin-top: 120px;
}

.login-form1 input[type=submit],.demo-button {
    font-family: 'Varela Round', sans-serif;
    border: 0;
    background: none;
    display: block;
    width: 240px;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: #ffffff;
     font-weight: bold;
    font-size: 17px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.login-form1 input[type=submit]:hover,.demo-button:hover {
    color: #5e57df;
    background: #ffffff ;
    width: 200px;
    transition: 0.25s;
    cursor: pointer;
}
.demo-button:hover {
   background: #ffffff; 
}

.login-form span select {
    margin-left: 10px;
    border-radius: 7px;
}

.login-error {
    color: red;
    font-size: bolder;
}
