.login-form-container{
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to top right, #bccbde 50%, #c2dde6 50%);
}

.signup-form-with-header {
    min-height: 120vh;
    width: auto;
    margin: 0;
    padding: 0;
    background: #34495e;
}

.link-to-other-form {
    font-size: 20px;
    color: #431c5d;
}

.login-form1 {
    font-family: 'Varela Round', sans-serif;
    width: 31vw;
    height: 60vh;
    padding: 40px;
    left: 33%;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    transform: translate(-50% -50%);
    background: transparent;
    text-align: center;
    box-sizing: border-box;
    border-radius: 30px;
    background-image: transparent;
    box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
}

.login-no-errors-input1 {
    font-family: 'Varela Round', sans-serif;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    /* border: 2px solid #445547; */
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: darkslategray;
    border-radius: 24px;
    transition: 0.25s;
     font-weight: bold;
    font-size: 17px;
}

.login-no-errors-input1::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 17px;
}

.login-yes-errors-input1 {
    border: 2px solid red;
    font-family: 'Varela Round', sans-serif;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.login-no-errors-input1:focus {
    width: 330px;
    border-color: #445547;
}

.login-form-container h1 {
    font-family: 'Varela Round', sans-serif;
    color: #431c5d;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 30px;
}

.login-form1 input[type=submit],.demo-button {
    font-family: 'Varela Round', sans-serif;
    border: 0;
    background: none;
    display: block;
    width: 240px;
    margin: 20px auto;
    text-align: center;
    /* border: 2px solid #c53211; */
    padding: 14px 40px;
    outline: none;
    color: #8e8e8e;
     font-weight: bold;
    font-size: 17px;
    border-radius: 24px;
    transition: 0.25s;
}
.login-form1 input[type=submit]:hover,.demo-button:hover {
    color: #FFFFFF;
    background: #39a0ca ;
    width: 200px;
    transition: 0.25s;
    cursor: pointer;
}
.demo-button:hover {
   background: #39a0ca; 
}

.login-form span select {
    margin-left: 10px;
    border-radius: 7px;
}

.login-error {
    color: red;
}
