.table-item-left, .table-item-right {
    display: flex;
    flex-direction: row;
}

.table-item-left {
    margin-left: 20px;
    cursor: pointer;
}

.table-item-right {
    padding-top: 6px;
    justify-content: space-evenly;
}

.table-item-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    border-top: 0.5px solid rgba(201, 201, 201, 0.6);
}

.table-item-left {
    padding-left: 20px;
    border-right: 1px solid rgba(201, 201, 201, 0.6);
    height: 5vh;

}

.table-item-left img{
    padding-top: 3px;
    width: 15%;
    height: 80%;
}

.table-item-left span{
    margin-top: 4.5%;
    margin-left: 14px;
}

/* table loader */

.table-loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f8f8f8ad;
}

.table-loader-container .table-loader {
    top: 40%;
    left: 48%;
    z-index: 100;
    position: absolute;
}

.table-loader {
    background-color: transparent;
    color: transparent;
    width: 6vw;
}


/* table index */
.table-wrapper {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid rgba(201, 201, 201, 0.6);
    border-radius: 10px;
    box-shadow: 5px 7px 20px -5px  rgba(0,0,0,0.4);
}

.table-wrapper h1{
    font-size: 35px;
    margin-left: 40%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.table-current-price, .table-market-cap-rank, .table-ath, .table-roi {
    margin-top: 5px;
    text-align: right;
    width: 15%;
}

.table-item-right i{
    font-size: 1.5rem;
    color: #9365e7;
    cursor: pointer;
    margin-left: 4vw;
}


