.search-bar-wrapper {
    position: absolute;
    top: 20%;  
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(201, 201, 201, 0.6);
    max-width: 60%;
    height: 4vw;
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.search-input-and-results {
    width: 75%;
    padding: 0;
}

.search-input-and-results input {
    min-height: 48%;
    width: 100%;
    padding: 15px 50px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
    font-size: 21px;
    color: rgb(82, 82, 82);
}

.search-bar-wrapper label {
    position: absolute;
    top: 40%;
    color: rgb(82, 82, 82);
    margin-left: 1vw;
    font-size: 21px;
}

.search-bar-wrapper input::-webkit-input-placeholder {
    font-size: 18px;
}

.search-btn {
    width: 22%;
    min-height: 48%;
    background: #817cca;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: relative;
    cursor: pointer;
}

.search-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: white;
}

/*  search result */

.hide-show-result {
    display: none;
}

.show-search-result ol{
    background-color: rgb(255, 255, 255);
    opacity: none;
    margin-left: 2vw;
    margin-top: 0.05vw;
    width: 99.5%;
    overflow-y: auto;
    min-height: fit-content;
    max-height: 400px;
    position: relative;
}

.search-input-and-results {
    display: flex;
    flex-direction: column;
}

.ticker-search-item {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 1.9vw;
    width: 95.4%;
    padding: 15px;
    border-bottom: 0.5px solid rgba(201, 201, 201, 0.6);
    outline: none;
    font-size: 21px;
    color: rgb(82, 82, 82);
    cursor: pointer;
}

.ticker-search-item:hover {
    background-color: rgba(201, 201, 201, 0.6);
}

.ticker-search-left,.ticker-search-right {
    margin-top: 0.4vw;
    display: flex;
    flex-direction: row;
}

.ticker-search-right {
    justify-content: space-between;
}

.ticker-search-left img{
    margin: 0;
    margin-top: -0.3vw;
    width: 30px;
    height: 30px;
}

.ticker-search-market-cap {
    margin-left: 1vw;
    margin-right: 1.5vw;
}


