.nav-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 14%;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-page {
    display: grid;
    grid-template-columns: 15% 65% 20%;
    width: 100%;
    height: 20%;
}

#main-left, #main-middle, #main-right {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}